[submodule "ci/bootstrap"]
	branch = dist
	path = ci/bootstrap
	url = ../../../continuous-integration/gitlab-runner-bootstrap.git
[submodule "bragi"]
	path = bragi
	url = https://github.com/fatal69100/mimirsbrunn.git
	branch = update_poi_types
