stages:
  - build
  - development
  - prelive
  - production


before_script:
  - source ci/bootstrap.sh
  - docker login
    --username "$CI_REGISTRY_USER"
    --password-stdin "$CI_REGISTRY" <<< "$CI_REGISTRY_PASSWORD"


build redis:
  stage: build
  tags:
    - light
  script:
    - docker-compose build --pull
    - docker-compose push
  variables:
    COMPOSE_FILE: "docker-compose.build.yml"
    COMPOSE_PROJECT_NAME: "$CI_PROJECT_PATH_SLUG-j$CI_JOB_ID"
  allow_failure: true
  when: manual


.deploy:
  image: registry.qwant.ninja/docker/dood:18.03
  tags:
    - light-docker
  variables:
    COMPOSE_FILE: "docker-compose.yml:ci/development/docker-compose.yml"
    COMPOSE_PROJECT_NAME: "$CI_PROJECT_PATH_SLUG-j$CI_JOB_ID"
    DOCKER_HOST: "tcp://10.100.31.132:2375"
    STACK_NAME: "$CI_PROJECT_ID"
    ROUTER_SERVICE_NAME: "product-maps-traefik_traefik"
    IDUNN_IMAGE_NAME: "qwantresearch/idunn"
    IDUNN_IMAGE_TAG: "latest"
  when: manual


deploy development:
  extends: .deploy
  stage: development
  environment:
    name: development
    url: "http://maps.dev.qwant.ninja/maps"
  script:
    - deploy
  variables:
    KUZZLE_SERVICE_NAME: "1216_kuzzle"


deploy prelive:
  extends: "deploy development"
  stage: prelive
  environment:
    name: prelive
    url: "https://www.qwant.plive/maps"
  variables:
    COMPOSE_FILE: "docker-compose.yml:ci/prelive/docker-compose.yml"
    DOCKER_HOST: "tcp://10.103.9.1:2375"


deploy production:
  extends: "deploy prelive"
  stage: production
  environment:
    name: production
    url: "https://www.qwant.com/maps"
  variables:
    COMPOSE_FILE: "docker-compose.yml:ci/production/docker-compose.yml"
    DOCKER_HOST: "tcp://manager.maps.qwant.infra:2376"
    DOCKER_TLS_VERIFY: "1"
    ROUTER_SERVICE_NAME: "product-maps-production_traefik"
