stages:
  - build
  - development
  - prelive
  - production


before_script:
  - source ci/bootstrap.sh
  - docker login
    --username "$CI_REGISTRY_USER"
    --password-stdin "$CI_REGISTRY" <<< "$CI_REGISTRY_PASSWORD"
  - export REDIS_IMAGE_TAG="$(echo $CI_COMMIT_REF_SLUG | sed 's/master/latest/g')"


build:
  stage: build
  tags:
    - light
  script:
    - docker-compose build --pull
    - docker-compose push
    - subst < ci/templates/docker-content-digest.env | tee docker-content-digest.env
  variables:
    COMPOSE_FILE: "docker-compose.build.yml"
    COMPOSE_PROJECT_NAME: "$CI_PROJECT_PATH_SLUG-j$CI_JOB_ID"
    IDUNN_IMAGE_TAG: "latest"
  artifacts:
    paths:
      - docker-content-digest.env
      - ci/bootstrap.sh
      - ci/bin/docker-stack-wait
      - ci/development/docker-compose.yml
      - ci/prelive/docker-compose.yml
      - ci/production/docker-compose.yml
      - docker-compose.yml


.deploy:
  image: registry.qwant.ninja/docker/dood:18.03
  dependencies:
    - build
  tags:
    - light-docker
  variables:
    COMPOSE_FILE: "docker-compose.yml:ci/${CI_JOB_STAGE}/docker-compose.yml"
    COMPOSE_PROJECT_NAME: "$CI_PROJECT_PATH_SLUG-j$CI_JOB_ID"
    DOCKER_HOST: "tcp://10.100.31.132:2375"
    GIT_STRATEGY: none
    STACK_NAME: "$CI_PROJECT_ID"
    ROUTER_SERVICE_NAME: "product-maps-traefik_traefik"
    PROMETHEUS_SERVICE_NAME: "product-maps-development_prometheus"
    IDUNN_IMAGE_TAG: "latest"
  when: manual


deploy development:
  extends: .deploy
  stage: development
  environment:
    name: development
    url: "http://maps.dev.qwant.ninja/maps"
  script:
    - deploy
  variables:
    KUZZLE_SERVICE_NAME: "1216_kuzzle"


deploy prelive:
  extends: "deploy development"
  stage: prelive
  environment:
    name: prelive
    url: "https://www.qwant.plive/maps"
  variables:
    DOCKER_HOST: "tcp://10.103.9.1:2375"
    PROMETHEUS_SERVICE_NAME: "product-maps-prelive_prometheus"


deploy production:
  extends: "deploy prelive"
  stage: production
  environment:
    name: production
    url: "https://www.qwant.com/maps"
  variables:
    DOCKER_HOST: "tcp://manager.maps.qwant.infra:2376"
    DOCKER_TLS_VERIFY: "1"
    ROUTER_SERVICE_NAME: "product-maps-production_traefik"
    PROMETHEUS_SERVICE_NAME: "product-maps-production_prometheus"
