language: python

services:
  - docker

python:
  - "3.6"

env:
  - PIPENV_IGNORE_VIRTUALENVS=1

install:
  - pip install pipenv
  - pipenv install --dev --deploy

script:
  - pipenv run black --diff --check .
  - pipenv run pytest

notifications:
  email: false
