version: '3.3'

networks:
  bridge:
    external:
      name: bridge
  default:
    attachable: true
    driver: overlay

services:
  idunn:
    image: qwantresearch/idunn:release-v0.1.2@sha256:4ddfcb21d8369dd9316842fe1e4e4a044dbde1a27b0e65c98f4cc084de626e2a
    labels: &ci_labels
      com.qwant.ci.job_id: ${CI_JOB_ID}
      com.qwant.ci.pipeline_id: ${CI_PIPELINE_ID}
      com.qwant.ci.project_id: ${CI_PROJECT_ID}
    command: "--workers=4"
    deploy:
      labels:
        <<: *ci_labels
        traefik.frontend.entryPoints: "public"
        traefik.docker.network: "${STACK}_default"
        traefik.frontend.rule: "PathPrefixStrip:/maps/detail/"
        traefik.port: "5000"
      mode: replicated
      replicas: 4
      resources:
        limits:
          memory: 4g
        reservations:
          cpus: '2.11'
          memory: 2.72g
      restart_policy:
        condition: on-failure
    environment:
      - http_proxy=http://10.100.9.1:2001
      - https_proxy=http://10.100.9.1:2001
      - IDUNN_LOG_JSON=1
      - IDUNN_MIMIR_ES=http://es:9200
      - IDUNN_WIKI_API_REDIS_URL=idunn-redis:6379
      - IDUNN_WIKI_ES=http://wiki-es:9200
      - IDUNN_WIKI_USER_AGENT=Idunn/0.1.1 (https://www.qwant.com; https://www.qwant.com/maps)
      - no_proxy=es,wiki-es
    extra_hosts:
      - "wiki-es:10.100.33.34"
    networks:
      - bridge
      - default

  idunn-redis:
    deploy:
      labels: *ci_labels
      resources:
        limits:
          cpus: '3'
          memory: 10g
        reservations:
          cpus: '2'
          memory: 7g
      restart_policy:
        condition: on-failure
    environment:
      REDIS_ALIAS: "{{.Service.Name}}.{{.Task.Slot}}"
    image: $CI_REGISTRY_IMAGE/idunn-redis:43722
    labels: *ci_labels
