version: '3.5'

networks:
  default:
    driver: overlay
    attachable: true

services:
  idunn:
    image: "qwantresearch/idunn@${IDUNN_IMAGE_DIGEST}"
    labels: &ci_labels
      com.qwant.ci.job.id: ${CI_JOB_ID}
      com.qwant.ci.pipeline.id: ${CI_PIPELINE_ID}
      com.qwant.ci.project.id: ${CI_PROJECT_ID}
    command: "--workers=4"
    deploy:
      labels:
        traefik.frontend.entryPoints: "public"
        traefik.docker.network: "${STACK_NAME}_default"
        traefik.frontend.rule: "PathPrefixStrip:/maps/detail/"
        traefik.port: "5000"
      mode: replicated
      replicas: 4
      resources:
        limits:
          memory: 4g
        reservations:
          cpus: '2.11'
          memory: 2.72g
      restart_policy:
        condition: on-failure
    networks:
      - default


  idunn-redis:
    image: "${CI_REGISTRY_IMAGE}/idunn-redis@${REDIS_IMAGE_DIGEST}"
    labels: *ci_labels
    deploy:
      resources:
        limits:
          cpus: '3'
          memory: 10g
        reservations:
          cpus: '2'
          memory: 7g
      restart_policy:
        condition: on-failure
    environment:
      REDIS_ALIAS: "{{.Service.Name}}.{{.Task.Slot}}"
    networks:
      - default
