version: '3'

services:
  idunn:
    build: .
    command: "--workers=4"
    environment:
     - IDUNN_MIMIR_ES=
     - IDUNN_REDIS_URL=redis://idunn-redis:6379
     - IDUNN_LOG_JSON=1
     - IDUNN_VERIFY_HTTPS=false
    ports:
     - "5000:5000"

  idunn-redis:
    image: redis:4
