version: '3.3'

networks:
  bridge:
    external:
      name: bridge
  default:
    attachable: true
    driver: overlay

services:
  idunn:
    image: qwantresearch/idunn:latest
    labels: &ci_labels
      com.qwant.ci.job_id: ${CI_JOB_ID}
      com.qwant.ci.pipeline_id: ${CI_PIPELINE_ID}
      com.qwant.ci.project_id: ${CI_PROJECT_ID}
    command: "--workers=4"
    deploy:
      labels:
        <<: *ci_labels
        traefik.frontend.entryPoints: "public"
        traefik.docker.network: "${STACK}_default"
        traefik.frontend.rule: "PathPrefixStrip:/maps/detail/"
        traefik.port: "5000"
      mode: replicated
      replicas: 4
      resources:
        limits:
          memory: 4g
        reservations:
          cpus: '2.11'
          memory: 2.72g
      restart_policy:
        condition: on-failure
    networks:
      - bridge
      - default

  idunn-redis:
    deploy:
      labels: *ci_labels
      resources:
        limits:
          cpus: '3'
          memory: 10g
        reservations:
          cpus: '2'
          memory: 7g
      restart_policy:
        condition: on-failure
    environment:
      REDIS_ALIAS: "{{.Service.Name}}.{{.Task.Slot}}"
    image: $CI_REGISTRY_IMAGE/idunn-redis:43722
    labels: *ci_labels
