version: '3.3'

networks:
  bridge:
    external:
      name: bridge
  default:
    attachable: true
    driver: overlay

services:
  idunn:
    image: qwantresearch/idunn@sha256:632c184a2fab07280ca40f437a564c94fd6783711eeee248489dc692ce35774d
    labels: &ci_labels
      com.qwant.ci.job_id: ${CI_JOB_ID}
      com.qwant.ci.pipeline_id: ${CI_PIPELINE_ID}
      com.qwant.ci.project_id: ${CI_PROJECT_ID}
    command: "--workers=4"
    deploy:
      labels:
        <<: *ci_labels
        traefik.docker.network: "${STACK}_traefik"
        traefik.frontend.rule: "PathPrefixStrip:/maps/detail/"
        traefik.port: "5000"
      mode: replicated
      placement:
        constraints:
        - node.labels.type != node1
        - node.labels.type != node4
      replicas: 4
      resources:
        limits:
          memory: 4g
        reservations:
          cpus: '2.11'
          memory: 2.72g
      restart_policy:
        condition: on-failure
    environment:
      - IDUNN_LOG_JSON=1
      - IDUNN_MIMIR_ES=http://es:9200
      - IDUNN_WIKI_API_REDIS_URL=idunn-redis:6379
      - IDUNN_WIKI_ES=http://10.100.33.34:9200
    networks:
      - bridge
      - default

  idunn-redis:
    deploy:
      labels: *ci_labels
      resources:
        limits:
          cpus: '3'
          memory: 10g
        reservations:
          cpus: '2'
          memory: 7g
      restart_policy:
        condition: on-failure
    environment:
      REDIS_ALIAS: "{{.Service.Name}}.{{.Task.Slot}}"
    image: $CI_REGISTRY_IMAGE/idunn-redis:43722
    labels: *ci_labels
