[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
lovely-pytest-docker = "*"
freezegun = "*"
ipython = "*"
responses = "*"
black = "==19.10b0"

[packages]
fastapi="==0.46.*"
elasticsearch = ">=2.0.0,<3.0.0"
requests = ">=2.20.0"
tzwhere = "*"
babel = "*"
pybreaker = "*"
PyYAML = "==5.2.*"
redis = "*"
python-redis-rate-limit = "*"
python-json-logger = "*"
lark-parser = "<0.7"
astral = "==1.*"
osm_humanized_opening_hours = {git = "https://github.com/rezemika/humanized_opening_hours.git",ref = "668caf4a10d19a78748636aaad22db2d1b7bb053",editable = true}
gunicorn = "*"
uvicorn = "*"
phonenumbers = "*"
deepmerge = "*"
prometheus-client = "*"
unidecode = "*"

[requires]
python_version = "3.8"
