[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
lovely-pytest-docker = "*"


[packages]

apistar = "*"
elasticsearch = "==2"
apistar-settings = "*"


[requires]

python_version = "3.6"
