[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "bash -c 'pipenv run lint-src && pipenv run lint-tests'"
lint-src = "pipenv run pylint idunn"
lint-tests = """pipenv run pylint tests --disable='import-outside-toplevel, \
                                                   line-too-long, \
                                                   protected-access, \
                                                   redefined-outer-name, \
                                                   unused-argument, \
                                                   unused-import'"""

[dev-packages]
pytest = "*"
lovely-pytest-docker = "*"
freezegun = "*"
ipython = "*"
responses = "*"
black = "==19.10b0"
respx = "*"
pylint = "*"

[packages]
fastapi="==0.63.*"
elasticsearch = ">=2.0.0,<3.0.0"
requests = ">=2.20.0"
tzwhere = "*"
babel = "*"
pybreaker = "*"
PyYAML = ">=5.2"
redis = "*"
python-redis-rate-limit = "*"
python-json-logger = "*"
gunicorn = "*"
uvicorn = {version = "*", extras = ["standard"]}
phonenumbers = "*"
deepmerge = "*"
prometheus-client = "*"
unidecode = "*"
httpx = ">=0.12.0"
geopy = "*"
py-mini-racer = "*"
geojson-pydantic = "*"
orjson = "*"
opening-hours-py = "*"

[requires]
python_version = "3.8"
