version: '3.5'

services:
  idunn:
    deploy:
      replicas: 5
      placement:
        constraints:
          - node.role != manager
          - node.labels.type != node11 # workaround for QMAPS-1607
      resources:
        limits:
          cpus: "4"
    environment:
      - http_proxy=http://10.100.9.1:2001
      - https_proxy=http://10.100.9.1:2001
      - IDUNN_COMBIGO_API_KEY=${QMAPS_COMBIGO_API_KEY_PROD}
      - IDUNN_LOG_JSON=1
      - IDUNN_MIMIR_ES=http://es:9200
      - IDUNN_BRAGI_BASE_URL=http://geocoder-varnish/maps/geocoder
      - IDUNN_WIKI_API_REDIS_URL=idunn-redis:6379
      - IDUNN_WIKI_ES=http://wiki-es:9200
      - IDUNN_WIKI_USER_AGENT=Idunn/0.1.1 (https://www.qwant.com; https://www.qwant.com/maps)
      - IDUNN_THUMBR_SALT=${QMAPS_THUMBR_SECRET_PROD}
      - IDUNN_THUMBR_URLS=https://s1.qwant.com/thumbr,https://s2.qwant.com/thumbr
      - IDUNN_PJ_ES=http://wiki-es:9200
      - IDUNN_PJ_ES_QUERY_TEMPLATE=pagesjaunes_query
      - IDUNN_MAPBOX_DIRECTIONS_ACCESS_TOKEN=$QMAPS_MAPBOX_TOKEN_PROD
      - IDUNN_BLOCK_COVID_ENABLED=false
      - IDUNN_COVID19_BLOCK_COUNTRIES=FR,CH,ES,FI
      - IDUNN_NLU_TAGGER_URL=http://1701_nlu:9009/nlu
      - IDUNN_NLU_TAGGER_DOMAIN=MAPS
      - IDUNN_RECYCLING_SERVER_URL= # disabled in production for now
      - IDUNN_RECYCLING_SERVER_USERNAME=qwant
      - IDUNN_RECYCLING_SERVER_PASSWORD=${QMAPS_SDEF_PROD_PASSWORD}
      - IDUNN_SECRET=${QMAPS_SECRET_PROD}
      - IDUNN_BASE_URL=https://www.qwant.com/maps/detail/
      - IDUNN_MAPS_BASE_URL=https://www.qwant.com/maps/
      - IDUNN_PJ_API_ID=${QMAPS_PJ_ID_PROD}
      - IDUNN_PJ_API_SECRET=${QMAPS_PJ_SECRET_PROD}
      - IDUNN_BANCHECK_ENABLED=true
      - IDUNN_BANCHECK_TIMEOUT=0.5
      - IDUNN_QWANT_API_BASE_URL=http://foundation
      - IDUNN_IA_SUCCESS_ON_GENERIC_QUERIES=true
      - no_proxy=es,bragi,wiki-es,geocoder-varnish,1701_nlu,foundation
    extra_hosts:
      - "wiki-es:10.100.8.40"
      - "geocoder-varnish:10.103.13.1"
      - "foundation:10.110.3.12"
    networks:
      - product-maps-production_default

  idunn-redis:
    deploy:
      placement:
        constraints:
          - node.role != manager


networks:
  product-maps-production_default:
    external: true
