version: '3.5'

services:
  idunn:
    deploy:
      placement:
        constraints:
          - node.labels.type != node1
          - node.labels.type != node4
    environment:
      - http_proxy=http://10.100.9.1:2001
      - https_proxy=http://10.100.9.1:2001
      - IDUNN_LOG_JSON=1
      - IDUNN_MIMIR_ES=http://es:9200
      - IDUNN_WIKI_API_REDIS_URL=idunn-redis:6379
      - IDUNN_WIKI_ES=http://wiki-es:9200
      - IDUNN_WIKI_USER_AGENT=Idunn/0.1.1 (https://www.qwant.com; https://www.qwant.com/maps)
      - IDUNN_THUMBR_SALT=${QMAPS_THUMBR_SECRET_PLIVE}
      - IDUNN_THUMBR_URLS=https://s1.qwant.plive/thumbr,https://s2.qwant.plive/thumbr
      - IDUNN_PJ_ES=http://wiki-es:9200
      - IDUNN_PJ_ES_QUERY_TEMPLATE=pagesjaunes_query
      - IDUNN_MAPBOX_DIRECTIONS_ACCESS_TOKEN=$QMAPS_MAPBOX_TOKEN_PLIVE
      - no_proxy=es,wiki-es
    extra_hosts:
      - "wiki-es:10.100.33.34"
    networks:
      - product-maps-prelive_default


networks:
  product-maps-prelive_default:
    external: true
