
MIMIR_ES: http://localhost:9200/

WIKI_ES:

WIKI_USER_AGENT: 'Idunn' # Used in requests to external wiki* APIs

DEFAULT_LANGUAGE: 'en' # Fallback when no 'lang' in request

WIKI_API_CIRCUIT_TIMEOUT: 120

WIKI_API_CIRCUIT_MAXFAIL: 50

ES_WIKI_LANG: "de,en,es,fr,it" # the (comma separated) list of languages existing in the WIKI_ES
