version: '3.5'

services:
  idunn:
    environment:
      - http_proxy=http://10.100.9.1:2001
      - https_proxy=http://10.100.9.1:2001
      - IDUNN_LOG_JSON=1
      - IDUNN_MIMIR_ES=http://es:9200
      - IDUNN_WIKI_API_REDIS_URL=idunn-redis:6379
      - IDUNN_WIKI_ES=http://wiki-es:9200
      - IDUNN_WIKI_USER_AGENT=Idunn/0.1.1 (https://www.qwant.com; https://www.qwant.com/maps)
      - IDUNN_THUMBR_SALT=${QMAPS_THUMBR_SECRET_PLIVE}
      - IDUNN_THUMBR_URLS=https://s1.qwant.plive/thumbr,https://s2.qwant.plive/thumbr
      - IDUNN_PJ_ES=http://wiki-es:9200
      - IDUNN_PJ_ES_QUERY_TEMPLATE=pagesjaunes_query
      - IDUNN_KUZZLE_CLUSTER_URL=http://1216_kuzzle:7512
      - IDUNN_CORS_OPTIONS_REQUESTS_ENABLED=true  # Allow cross-origin requests with custom headers (for development only)
      - IDUNN_DOCS_ENABLED=true
      - IDUNN_DOCS_URL_PREFIX=/maps/detail/
      - IDUNN_NLU_TAGGER_URL=http://10.100.30.23:9009/nlu
      - IDUNN_COMBIGO_API_KEY=cd6dc00c-81f7-4aaa-816e-5436bf1f7136  # Development key
      - IDUNN_MAPBOX_DIRECTIONS_ACCESS_TOKEN=pk.eyJ1IjoiYW1hdGlzc2FydC1xd2FudCIsImEiOiJja2E4ZDFidXgwYnNrMnJtdXg4ZTBpNjV4In0.cXyQeWCMeia7PnoxR9AdPg # Dev token
      - IDUNN_BLOCK_COVID_ENABLED=true
      - IDUNN_COVID19_BLOCK_COUNTRIES=FR,CH,ES,FI
      - IDUNN_RECYCLING_SERVER_URL=true # Enable 'recycling' block, even if no real data server is available for now
      - no_proxy=es,bragi,wiki-es,1216_kuzzle,10.100.30.23
    extra_hosts:
      - "wiki-es:10.100.31.26"
    networks:
      - 1216_default
      - product-maps-development_default


networks:
  1216_default:
    external: true
  product-maps-development_default:
    external: true
