version: '3.5'

services:
  idunn:
    environment:
      - http_proxy=http://10.100.9.1:2001
      - https_proxy=http://10.100.9.1:2001
      - IDUNN_LOG_JSON=1
      - IDUNN_MIMIR_ES=http://es:9200
      - IDUNN_WIKI_API_REDIS_URL=idunn-redis:6379
      - IDUNN_WIKI_ES=http://wiki-es:9200
      - IDUNN_WIKI_USER_AGENT=Idunn/0.1.1 (https://www.qwant.com; https://www.qwant.com/maps)
      - IDUNN_THUMBR_SALT=${QMAPS_THUMBR_SECRET_PLIVE}
      - IDUNN_THUMBR_URLS=https://s1.qwant.plive/thumbr,https://s2.qwant.plive/thumbr
      - IDUNN_PJ_ES=http://wiki-es:9200
      - IDUNN_PJ_ES_QUERY_TEMPLATE=pagesjaunes_query
      - IDUNN_KUZZLE_CLUSTER_URL=http://1216_kuzzle:7512
      - IDUNN_DOCS_ENABLED=true
      - IDUNN_NLU_TAGGER_URL=http://1701_nlu:9009/nlu
      - IDUNN_NLU_TAGGER_DOMAIN=MAPS
      - IDUNN_COMBIGO_API_KEY=cd6dc00c-81f7-4aaa-816e-5436bf1f7136  # Development key
      - IDUNN_MAPBOX_DIRECTIONS_ACCESS_TOKEN=pk.eyJ1IjoiYW1hdGlzc2FydC1xd2FudCIsImEiOiJja2E4ZDFidXgwYnNrMnJtdXg4ZTBpNjV4In0.cXyQeWCMeia7PnoxR9AdPg # Dev token
      - IDUNN_BLOCK_COVID_ENABLED=false
      - IDUNN_COVID19_BLOCK_COUNTRIES=FR,CH,ES,FI
      - IDUNN_RECYCLING_SERVER_URL=https://api.datalake.pprod.finisteresmartconnect.fr # SDEF preprod
      - IDUNN_RECYCLING_SERVER_USERNAME=qwant
      - IDUNN_RECYCLING_SERVER_PASSWORD=${QMAPS_SDEF_PREPROD_PASSWORD}
      - IDUNN_RECYCLING_MEASURES_MAX_AGE_IN_HOURS=2400 # 100 days, for demonstration purposes (7 days by default)
      - IDUNN_SECRET=public_for_dev_only
      - IDUNN_BASE_URL=https://maps.dev.qwant.ninja/maps/detail/
      - IDUNN_MAPS_BASE_URL=https://maps.dev.qwant.ninja/maps/
      - IDUNN_PJ_API_ID=${QMAPS_PJ_ID_PLIVE}
      - IDUNN_PJ_API_SECRET=${QMAPS_PJ_SECRET_PLIVE}
      - no_proxy=es,bragi,wiki-es,1216_kuzzle,1701_nlu
    extra_hosts:
      - "wiki-es:10.100.31.26"
    networks:
      - 1216_default
      - product-maps-development_default


networks:
  1216_default:
    external: true
  product-maps-development_default:
    external: true
